
/** Globales **/
.contenedor {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
img{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
}


/*BARRA MENU*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0; 
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    color: gray;
    font-family: 'Fredoka One';
    font-weight: lighter;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    margin: 6px;
  }
  
  .navigation a:hover {
    background: #0bcdf0;
  }

  .barra{
    float: left;
    padding: 10px 40px 10px 200px ;
  
}
.boton {
  border-radius: 5px;
  background-color: #0f0caa;
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  color: white !important;
}
.navigation .boton {
  padding: 15px 40px 15px 40px;
}
  
/*Responsiva barra*/
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      }
      .navigation li:last-of-type a {
        border-bottom: none;
      }
  }


/*TITULO ALADO DE NAVbar*/
.titulo{
  float: left;
  padding: 8px 30px 8px 80px;
}
.title{
  align-items: center;
  text-align:justify;
  font-size:23px;
  color:#331cb3;
  font-family: 'Fredoka One';
  font-weight: lighter;
}

/*SECTION*/


.info h1, p {
  position: relative;
  padding: 15px 40px 15px 40px;
}

/** Utilidades **/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  
}


/*img contenedor*/
.imagen{
  width:50%; height:800px;
  float:left; 
  display:inline;
  padding: 40px 0px 10px 0px; 
}
img .doc{
  width: 120%;
}
/*Contenedor Texto*/
.text{
  width:50%; height:800px;
  float:left; 
  display:inline;
  padding: 40px 0px 10px 0px; 
}
.t1{
  font-size: 55px;
  font-family: 'Fredoka One';
  color: #090763bd;
  font-weight: lighter;
  padding: 15px 40px 0px 80px;
}
.p1{
  font-size: 20px;
  font-family: 'Fredoka One';
  color: #8d8d91bd;
  font-weight: lighter;
  padding: 0px 40px 15px 80px;
  
}

/*iconos*/
.iconos-caracteristicas {
  list-style: none;
  padding: 0px 10px 15px 80px;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 500px;
}
.iconos-caracteristicas li {
  /* flex: 1; */
  display: flex;
  align-items: center;
  font-family: 'Fredoka One';
  color: #131096bd;
  
}
.iconos-caracteristicas li img {
  width: 20px;
  height: 20px;
}


.barra-schedule{
  padding: 50px 250px 15px 0px;
}
.schedule{
  list-style: none;
  padding: 0px 40px 15px 55px;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 500px;
}
.schedule li{
  display: flex;
  align-items: center;
  font-family: 'Fredoka One';
  color: #13118abd;
}
.schedule li a{
  text-decoration: none;
  margin: 10px;
  align-items: center;
  font-family: 'Fredoka One';
  color: #13118abd;
}
.schedule li img{
  width: 20px;
  height: 20px;
}

/**Barra  Submit*/
.datos{
  width: 70%;
  height: 120px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  padding: 5px 20px 5px 40px;
  margin: 20px;
}

.datos li img{
  text-align: center;
  width: 20px;
  height: 20px;
  align-items: center;
  margin: 1px;
}
.datos li span{
  text-align: center;
  margin: 5px;
}
.datos li p{
  text-align: left;
  width: 150px;
}
.barra-submit{
  width: 70%;
  height: 130px;
  position: absolute;
  top: 750px;
  left: 110px;
  background-color: #f1fbfd;
  border: #e6edee;
  border-radius: 10px;
}
.barra-submit .datos li{
  justify-content: space-evenly;
  font-family: 'Fredoka One';
  color: #13118abd;
  margin-left: 10px;
 
  width: 200px;
  height: 100px;
}


.boton2 {
  border-radius: 5px;
  background-color: #0f0caa; display: inline-block;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  color: white !important;
  padding: 20px 40px 20px 40px;
  font-family: 'Fredoka One';
  font-weight: lighter;
 
}
.btn2 a{
  align-items: center;
  margin-left: 10px;
}
.btn2 a:hover {
  background: #0bcdf0;
}
