html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** Globales **/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
    line-height: 1.2;
}
h3 {
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}



/** Botones **/
.btn {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem 0;
    color: #ffffff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0 0 100%;
}

.btn:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .btn {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.btn-primario {
    background-color: #000000;
}
.btn-primario-c {
    background-color: #c9eaec;
}
.btn-secundario {
    background-color: #784d3c;
}


/** Header **/
@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-header {
    background-image: url(../img/Logo\ pasteleria.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80rem;
}
.site-header a {
    color: #ffffff;
    text-decoration: none;
}
.site-header h1 {
    text-align: center;
    font-weight: 400;
}
.site-header h1 span {
    font-weight: 700;
}
/** Navegacion **/
.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}



/** Footer **/
.site-footer {
    background-color: #000000;
    padding: 2rem;
    margin-top: 3rem;
}
.site-footer p {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.site-footer p span {
    font-weight: 700;
}

/** Contacto **/
.formulario-contacto {
    background-color: #ffffff;
    padding: 5rem;
}
@media (min-width: 768px) {
    .formulario-contacto {
        margin-top: -10rem;
    }
}
.formulario-contacto .campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.formulario-contacto .campo label {
    flex: 0 0 8rem;
}
.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto textarea{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
.formulario-contacto textarea {
    height: 20rem;
}
.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}



.info{
    text-decoration: dotted;
    text-align: center;
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}

/** Anuncios **/

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.anuncio {
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contenido-anuncio {
    padding: 2rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p  {
    margin: 0;
}
.precio {
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li {
    /* flex: 1; */
    display: flex;
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}


ul{
    list-style: none;
  }

#menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
#menu li>a:hover{
    color: black;
    background-color: #eaeaea;
  }
#menu>li{
    float: left;
    text-align:center
  }